<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header_box">
        <!--    <div class="header">-->
        <!--      <h1 class="logo">-->
        <!--        <img src="img/logo.png" />-->
        <!--      </h1>-->
        <!--      <div class="nav"  style="visibility: visible">-->
        <!--        <a href="#" class="active">首页</a>-->
        <!--        <a href="console">控制台</a>-->
        <!--        <a href="/login">登录</a>-->
        <!--        <a href="http://119.23.57.105:8080/">博白案例</a>-->
        <!--      </div>-->
        <!--    </div>-->
        <div class="layui-container" style="width: 100%">
            <div class="layui-row">
                <div class="layui-col-xs4 layui-col-sm12 layui-col-md4" >
                    <img src="../static/img/logo.png"/>
                </div>
                <div class="layui-col-xs2 layui-col-sm12 layui-col-md2" style="visibility: hidden">
                    移动：6/12 | 平板：6/12 | 桌面：4/12
                </div>
                <div class="layui-col-xs6 layui-col-sm12 layui-col-md6" style="position:relative">
                    <div class="nav" style="visibility: visible">
                      
                      <ul>
                       <li><a href="#" class="active">首页</a></li>
                        <li ><a href="#">关于森格</a></li>
                        <li><div class="dropdown">
                        <a href="#">服务领域</a>
                        <div class="dropdown-content">
                            <a href="#">智慧水务</a>
                            <a href="#">锅炉与供热</a>
                            <a href="#">智慧工厂</a>
                            <a href="#">能源管理</a>
                            <a href="#">智慧农业</a>
                            <a href="#">远程运维</a>
                          </div>
                        </div></li>
                       <li><a href="#">技术支持</a></li> 
                        <li><a href="#">系统平台</a></li>
    
                       </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>