<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <script src="https://www.layuicdn.com/layui/layui.js"></script>
    <link rel="stylesheet" type="text/css" href="https://www.layuicdn.com/layui/css/layui.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css" >

    <!--加载meta IE兼容文件-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>

<!-- header -->
<div class="header_box">
    <!--    <div class="header">-->
    <!--      <h1 class="logo">-->
    <!--        <img src="img/logo.png" />-->
    <!--      </h1>-->
    <!--      <div class="nav"  style="visibility: visible">-->
    <!--        <a href="#" class="active">首页</a>-->
    <!--        <a href="console">控制台</a>-->
    <!--        <a href="/login">登录</a>-->
    <!--        <a href="http://119.23.57.105:8080/">博白案例</a>-->
    <!--      </div>-->
    <!--    </div>-->
    <div class="layui-container" style="width: 100%">
        <div class="layui-row" >
            <div class="layui-col-xs4 layui-col-sm12 layui-col-md4" >
                <img src="../static/img/logo.png" style="margin-top: 10px;margin-left: 50px;"/>
            </div>
            <div class="layui-col-xs2 layui-col-sm12 layui-col-md2" style="visibility: hidden">
                移动：6/12 | 平板：6/12 | 桌面：4/12
            </div>
            <div class="layui-col-xs6 layui-col-sm12 layui-col-md6" style="position:relative;height: 100px;margin-right: -10px;">
                <div class="nav" style="visibility: visible">
                  
                  <ul>
                   <li><a href="#" >首页</a></li>
                    <li ><a href="#">关于森格</a></li>
                    <li><div class="dropdown">
                    <a href="#">服务领域</a>
                    <div class="dropdown-content">
                        <a href="#" >智慧水务</a>
                        <a href="#">锅炉与供热</a>
                        <a href="#">智慧工厂</a>
                        <a href="#">能源管理</a>
                        <a href="#">智慧农业</a>
                        <a href="#">远程运维</a>
                      </div>
                    </div></li>
                   <li><a href="#">技术支持</a></li> 
                    <li><div class="dropdown01">
                        <a href="#">系统平台</a>
                        <div class="dropdown-content01">
                            <a href="#">博白项目</a>
                            <a  href="#" >  森格物联平台</a>
                            <a href="#">污水处理信息平台</a>
                            

                        </div>
                    </div>
                    </li>

                   </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end-header -->


<!-- content -->
<div class="content">
    <div class="title" >
      
        <h3 style="font-family: 楷体; font-size:60px;">科技改变未来 &nbsp;&nbsp;服务创造价值</h3>
        <h4 style="font-size: 25px">Technology changes future service creates value</h4>
    </div>
    <div class="layui-carousel imgbox" id="test1" style="z-index:2;">
        <div carousel-item class="imgH">
            <div style="position: relative;"><img style="width: 100%" src="../static/img/imge-1.jpg">
            <p style="position: absolute;left: 600px;top: 250px;font-size:50px;color:#005bac;font-weight: 550;
            text-shadow:0 0 0.2em rgb(255, 255, 255),-0 -0 0.2em rgb(255, 255, 255);">广西工业化与信息化融合的倡导者</p></div>
            <div><img style="width: 100%" src="../static/img/sy_banner2.jpg"></div>
            <div><img style="width: 100%" src="../static/img/sy_banner3.jpg"></div>
            <div><img style="width: 100%" src="../static/img/sy_banner4.jpg"></div>
        </div>
    </div>
    <div class="prod-show">
        <div style="height: 100px;"><p style="font-size: 40px;margin-top: -90px;margin-left: 300px;font-family: 楷体;" >工业物联网一站式解决方案提供商</p></div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space10 layui-clear">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="../static/img/sy_img1.jpg" alt=""/>
                        <h3>超声波液位计PWCS75</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="../static/img/sy_img2.jpg" alt=""/>
                        <h3>pH ORP计</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="../static/img/sy_img3.jpg" alt=""/>
                        <h3>超声波液位计PWCS76</h3>
                    </div>
                </div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md3">
                    <div class="img-txt">
                        <img style="width: 100%;" src="../static/img/sy_img4.jpg" alt=""/>
                        <h3>在线COD分析仪</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="prod-descr">
        <div class="layui-fluid">
            <div class="layui-row">
                <div class="item layui-clear">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <img src="../static/img/sy_img5.jpg" class="left-img">
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <div class="text">
                            <h3>优秀水处理工艺</h3>
                            <p>本公司专门为您打造定制的污水处理。本公司专门为您打造定制的污水处理方案。</p>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 bot-img-box">
                        <div class="bot-img">
                            <img src="../static/img/sy_img6.jpg">
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-row">
                <div class="item layui-clear">
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <img src="../static/img/sy_img7.jpg" class="left-img">
                    </div>
                    <div class="layui-col-xs12 layui-col-sm6 layui-col-md6">
                        <div class="text">
                            <h3>高品质水处理设备</h3>
                            <p>专门为您打造定制的高品质水处理设备</p>
                        </div>
                    </div>
                    <div class="layui-col-xs12 layui-col-sm12 layui-col-md8 bot-img-box">
                        <div class="bot-img">
                            <img src="../static/img/sy_img8.jpg">
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<!-- end-content -->


<!-- footer -->
<div class="footer">
    <div class="line"></div>
    <p class="copyright">
        ©http://gxsenge.net/ 广西森格自动化科技股份有限公司<br/>
        E-MAIL:gxsenge@163.com<br/>
        TEL:0771-3925018
    </p>
    <div class="icon_box">
        <a href="#"><i class="layui-icon layui-icon-login-wechat weixin-icon"></i></a>
        <a href="#"><i class="layui-icon layui-icon-login-weibo weibo-icon"></i></a>
    </div>
</div>
<!-- end-footer -->
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/1.12.4/jquery.min.js"></script>

<script>
    layui.use(['carousel', 'jquery', 'element'], function () {
        var carousel = layui.carousel, $ = layui.$;
        //建造实例
        carousel.render({
            elem: '#test1'
            , width: '100%' //设置容器宽度
            , arrow: 'always'
            , height: 'auto'
            //,anim: 'updown' //切换动画方式
        });
        // $('.app-header-menuicon').on('click', function () {
        //     $('.header-down-nav').toggleClass('down-nav')
        // })
        var imgH = $('.imgbox div.layui-this').outerHeight();
        $('.imgH').css('height', imgH + 'px')
        window.onresize = function () {
            var imgH = $('.imgbox div.layui-this').outerHeight();
            $('.imgH').css('height', imgH + 'px')
        };

    });
</script>
<script src="../static/js/custom.js"></script>
</body>
</html>